html, body {
    scroll-behavior: smooth; /*Chrome, Firefox*/
    height: 100%;
}

body {
    min-height: 100%;
}

/*body::after {
  content: '';
  display: block;
}*/


.menu {
    padding-top: 1.5em;
    text-align: center;
    display: flex;
}

/*.menu:hover {
    text-shadow: 1px 1px 1px #C0C0C0;
}*/

ul {
    list-style-type: none;
}

li {
    width: 20em;
}

.col-lg-4 {
    text-align: center !important;
}

a {
    text-align: center !important;
    color: #000;
    font-size: 1em;
}

a:link, a:visited, a:active{
    text-decoration: none !important;
    color: #000 !important;
    text-transform: uppercase;
}

a:hover {
    border-bottom: 1px solid #6441a5;
    text-decoration: none;
    color: #6441a5;
    text-transform: uppercase;
}

*, .row.col-lg-12 {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
    font-family: "Century Gothic";
}

.button {
    background-color: rgba(255,255,255,0.9);
    color: #000;
    font-weight: 700;
    text-transform: uppercase !important;
    position: relative;
    top: 20em;
    padding: 20px 40px 20px 40px !important;
    border: 1px solid #000;
}

.button2 {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase !important;
    position: relative;
    top: 20em;
    padding: 20px 40px 20px 40px !important;
    border: 1px solid #fff;
}

.button:hover {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: 1px solid #fff;
}

.button2:hover {
    background-color: rgba(255,255,255,0.9);
    color: #000;
    border: 1px solid #000;
}

.button3 {
    background-color: #6441a5;
    color: #fff !important;
    text-transform: uppercase !important;
    padding: 10px 30px 10px 30px !important;
    border: 1px solid #6441a5;
    cursor: pointer;
}

.button3:hover {
    background-color: #422b6d;
    border: 1px solid #422b6d;
    text-decoration: none !important;
}

button.button3 a {
    color: #fff !important;
}

button.button3 a:hover {
    border-bottom: none;
}

.container-fluid {
    position: relative;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.main-image {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 860px;
/*    transition: all 3s ease-in-out;*/
}

/*.main-image:hover {
    transform: scale(1.1);
}*/

.buttonpart, .buttonpart2 {
    z-index: 1;
}

h5 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 5em;
}

.mainmenu {
    background-color: #fff;
    border: 3px solid #fff;
    box-shadow: 0px 1px 0px #C0C0C0 !important;
}

div.row.col-lg-12.first {
    height: 4.5em;
    position: fixed;
    z-index: 5;
    box-shadow: 1px 1px 2px #C0C0C0;
}

.logo {
    position: relative;
    bottom: 0.7em;
    left: 1em;
    text-align: left;
}

.logo a.title {
    text-transform: none;
    border-bottom: none;
}

#about {
    height: 100%;
    padding-bottom: 5em;
}

#us {
    background-color: #323232;
    color: #fff;
    padding-bottom: 8em;
}

#connect {
    height: 500px;
}

#reklam {
    height: 100%;
    padding-bottom: 7.5em;
}

#footer {
    background-color: #323232;
    height: 300px;
    border-bottom: 2em solid #222222;
    position:inherit;
    bottom: 0 !important;
    left: 0 !important;
    color: #fff;
    min-width: 100%;
    text-align: right;
    margin-top: -40px !important;
}

.row.col-lg-12.container {
    padding-top: 5em;
}

div#reklam.row.col-lg-12.container {
    padding-top: 7.5em;
}

div#us.row.col-lg-12.container {
    padding-top: 8em !important;
}

.container3 {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {
    width: 30em;
}

.test {
    text-align: center;
    min-width: 100%;
    font-size: 1.5em;
}

h3.who-are-we, h3 {
    color: #6441a5 !important;
    position: relative;
    font-weight: 700 !important;
    font-size: 2em !important;
    min-width: 100%;
    text-align: center;
    padding: 10px !important;
}

.copyright {
    color: #BDC1C8;
    font-size: 0.8em;
    text-align: center;
    min-width: 100%;
    position: absolute;
    bottom: 0;
}

h6 {
    height: 2em !important;
    margin: 0 auto;
}

#login {
    display: none;
}

#outForm {
    padding: 7em 3em 2em 3em !important;
    background-color: rgba(255,255,255,0.6);
    margin-left: 1em !important;
}

input[type=text], input[type=password] {
    margin-bottom: 0.5em !important;
    line-height: 1.5em;
    border-radius: 0;
}

input[type=submit] {
    margin-top: 1em !important;
}

span {
    color: #6441a5;
    margin-left: 0.3em !important;
}

.szures {
    margin-left: 4em !important;
    margin-top: 7em !important;
}

.szures_btn {
    background-color: #6441a5;
    color: #fff;
    text-transform: uppercase !important;
    padding: 5px 15px 5px 15px !important;
    border: 1px solid #6441a5;
    margin-left: 2em !important;
}

.szures_btn:hover {
    background-color: #422b6d;
    border: 1px solid #422b6d;
}

.hamburger {
    padding: 0 1em 0 0;
    font-size: 2em;
    line-height: 70px;
    display: none;
    width: 1em;
    float: right;
}

#toggle {
    display: none;
}

ul.menu.forMobile li a {
    clear: right;
}

.firstRow {
    padding-bottom: 6em;
}

.container {
    min-width: 100% !important;
}

.fade-in, .slide-in {
    opacity:0 !important;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity:0;
    } to {
        opacity:1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity:0;
    } to { opacity:1;
    }
}
@keyframes fadeIn {
    from {
        opacity:0;
    } to {
        opacity:1;
    }
}

.button.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
    margin-bottom: 3em !important;
    cursor: pointer;
}

.button2.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
    cursor: pointer;
}

/* Működő fade-in, de helyette slideolást választottam
.welcome {
    padding: 2em;
    min-width: 100%;
    height: 20%;
    color: #fff;
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}*/

/*.big-logo {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 60%;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(1vw);
    }
    100% {
        opacity: 1;
        transform: translateX(6vw);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}*/

.come-in {
    animation: come-in 3s ease forwards;
}

@keyframes come-in {
    from {
        transform: translateX(1vw);
    }
    to {
        transform: translateX(10vw);
    }
}

.come-up1 {
    animation: come-up1 2s ease forwards;
}

@keyframes come-up1 {
    from {
        transform: translateY(10vw);
    }
    to {
        transform: translateY(0vw);
    }
}

.come-up2 {
    animation: come-up2 3s ease forwards;
}

@keyframes come-up2 {
    from {
        transform: translateY(10vw);
    }
    to {
        transform: translateY(0vw);
    }
}

#employee {
    min-width: 90%;
    margin-left: 5% !important;
    margin-top: 5% !important;
}

td {
    padding: 5px;
}

tr:first-child {
    color: #6441a5;
    font-weight: 600;
    font-size: 1.5em;
}

.connect-info {
    padding-top: 4em;
    text-align: left !important;
}

.connect-info p {
    font-size: 1.2em;
    padding: 5px 30px 5px 30px !important;
}

.connect-info p a {
    color: #6441a5 !important;
    text-transform: none;
}

div.col-lg-8.mainmenu.mobil_nav  {
    box-shadow: 0px 1px 0px #C0C0C0 !important;
}

.maintenance h3 {
    padding-top: 5em !important;
    min-width: 100%;
    text-align: center;
}

/* Reszponzív rész */

/*@media only screen and (max-width: 360px) {
    .table.table-bordered.table-striped td {
        font-size: 12px;
    }
}*/

@media only screen and (max-width: 600px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    ul.menu.forMobile {
        display: none;
    }
    ul.menu.forMobile li a {
        display: block;
    }
    #toggle:checked + .menu.forMobile {
        display: block;
    }
    .button, .button2 {
        display: none;
    }
    .who-are-we {
        min-width: 100%;
        text-align: center;
    }
    li {
        min-width: 100%;
    }
    @keyframes come-in {
        from {
            transform: translateY(0%));
        }
        to {
            transform: translateY(5%);
        }
    }
    img.big-logo.come-in {
        height: 100%;
        width: 100%;
        padding: 30px !important;
    }
    div.container-fluid.logged {
        padding-bottom: 15%;
    }
    .table.table-bordered.table-striped td {
        font-size: 12px;
    }
    .menu {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    div.container-fluid.logged {
        padding-bottom: 10%;
    }
}

.btn {
    border-radius: 0 !important;
    margin-left: 5px !important;
    padding-left: 10px !important;
}

.label.label-success {
    background-color: purple;
    padding: 5px 10px;
    padding-left: 2% !important;
    color: #fff;
}

#regForm {
    padding: 10em 0 10em 0;
    min-width: 100%;
}

button.btn.btn-primary {
    background-color: #6441a5;
    border-color: #6441a5;
    min-width: 100%;
    padding: 0.7em 0 0.7em 0 !important;
    margin-left: 0px !important;
}

button.btn-primary:hover {
    background-color: #422b6d;
    border-color: #422b6d;
}

.col-sm-2 {
    max-width: none;
}

label.col-sm-2.col-form-label {
    background-color: rgba(255,255,255,0.5);
}

#regName, #regEmail, #regPassword, #regPasswordConfirm {
    margin-bottom: 0px !important;
    padding: 1.5em;
}

#regEmail {
    border-radius: 0;
}

.success_text {
    color: #6441a5;
    text-align: center !important;
    font-size: 1em;
}

.col-sm-12 span {
    color: #FF4500;
}

.ui-button-icon-only .ui-icon {
    margin-top: -8px !important;
    margin-left: -8px!important;
}

.ui-dialog .ui-dialog-titlebar-close {
    margin: -10px 0 0 0 !important;
}

#user_details, #employee {
    margin-bottom: 3em !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.user_col {
    text-align: center;
}

.welcome_user {
    text-align: right;
    margin-right: 10% !important;
}

#area {
    display: flex;
    margin: 0 auto !important;
}

#labelArea {
    flex-direction: column;
    margin-right: 2vw !important;
}

#inputArea {
    flex-direction: column;
}

#buttonArea {
    margin: 0 auto !important;
}

.buttonUpdate {
    background-color: #6441a5;
    color: #fff !important;
    text-transform: uppercase !important;
    padding: 10px 30px 10px 30px !important;
    border: 1px solid #6441a5;
    cursor: pointer;
}

.buttonUpdate:hover {
    background-color: #422b6d;
    border: 1px solid #422b6d;
    text-decoration: none !important;
}

#inputArea input {
    margin-bottom: 10px !important;
}

.updateData {
    color: #fff;
    margin-bottom: 15px !important;
}

form h4 {
    color: #fff;
    text-align: center;
    padding-bottom: 2em;
}

#updatePasswordError, #updatePasswordConfirmError {
    color: yellow;
}

#profile {
    background-repeat: no-repeat;
    background-position: left left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input.readonlyUserName:-moz-read-only { /* For Firefox */
  background-color: #FFFFCC;
}

input.readonlyUserName:read-only {
  background-color: #FFFFCC;
}